################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MVCWareHousingSystem/App_Data
/MVCWareHousingSystem/bin
/MVCWareHousingSystem/obj/Debug
/packages
